.wrap {
  background-color: #0a0a0a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 100px;
}

.first-item {
  padding-left: 100px;
}

.first-item h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 75px;
  line-height: 75px;
  color: #FFFFFF;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 28px;
}

.block h2 {
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
}

.block span {
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.progress {
  padding-top: 45px;
}

.progress h2 {
  font-family: Inter;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.9;
}

.progress-container h3 {
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.8;
}

.progress-bar-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-block-active-1 {
  width: 180px;
  height: 7px;
  background: #FFFFFF;
  border-radius: 10px 0 0 10px;
}

.progress-block-1 {
  width: 180px;
  height: 7px;
  border-radius: 0 10px 10px 0;
  background: rgba(255, 255, 255, 0.3);
}

.progress-bar-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-block-active-2 {
  width: 75px;
  height: 7px;
  background: #FFFFFF;
  border-radius: 10px 0 0 10px;
}

.progress-block-2 {
  width: 285px;
  height: 7px;
  border-radius: 0 10px 10px 0;
  background: rgba(255, 255, 255, 0.3);
}

.progress-bar-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-block-active-3 {
  width: 180px;
  height: 7px;
  background: #FFFFFF;
  border-radius: 10px 0 0 10px;
}

.progress-block-3 {
  width: 180px;
  height: 7px;
  border-radius: 0 10px 10px 0;
  background: rgba(255, 255, 255, 0.3);
}

/*CSS for second item*/
.second-item {
  padding-left: 50px;
  padding-bottom: 118px;
  padding-right: 50px;
}

.second-item h2 {
  font-family: Inter;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.9;
  padding-top: 45px;
}

.second-item p {
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.8;
}

.second-item li {
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.8;
}

.second-item ul {
  margin-left: -25px;
}

/* CSS for third item*/
.third-item {
  margin-top: 50px;
  margin-right: 100px;
  max-height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  background-image: url("images/woman-in-kitchen.jpg"), url(images/overlay.jpg);
  background-repeat: no-repeat;
}

.third-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.third-item p {
  font-family: Inter;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .first-item {
    padding-left: 50px;
  }
  .first-item h1 {
    font-weight: 100;
    font-size: 45px;
    line-height: 45px;
    color: #FFFFFF;
  }
  .progress-container h3 {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
  }
  .progress-block-active-1 {
    width: 150px;
  }
  .progress-block-1 {
    width: 150px;
  }
  .progress-block-active-2 {
    width: 45px;
  }
  .progress-block-2 {
    width: 255px;
  }
  .progress-block-active-3 {
    width: 150px;
  }
  .progress-block-3 {
    width: 150px;
  }
  .second-item {
    padding: 0;
  }
  .second-item h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
  }
  .second-item p {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
  }
  .second-item li {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
  }
  .second-item ul {
    margin-left: -25px;
  }
  .third-item {
    padding: 0;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  .third-item div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .third-item p {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-row-gap: 100px;
    grid-column-gap: 100px;
  }
  .third-item {
    margin-left: 50px;
  }
}

@media screen and (max-width: 425x) {
  .wrap {
    display: grad;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 100px;
    grid-column-gap: 100px;
  }
  .second-item h2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 5px;
  }
  .second-item p {
    font-weight: 300;
    font-size: 10px;
    line-height: 5px;
  }
  .second-item li {
    font-weight: 300;
    font-size: 10px;
    line-height: 5px;
  }
  .third-item {
    margin-right: 50px;
    max-height: 550px;
  }
}
/*# sourceMappingURL=stylesheet.css.map */